body main[data-theme="Dark"] {
  color: #fff;
}

body main[data-theme="Dark"] div.modal-content {
  background-color: #1c1f23 !important;
}

body main[data-theme="Dark"] > nav {
  background-color: var(--bs-dark);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

body main[data-theme="Dark"] > nav ul li:hover a i,
body main[data-theme="Dark"] > nav ul li.active a i {
  color: var(--bs-dark);
}

body main[data-theme="Dark"] > nav ul li {
  border: none;
  background-color: #272b30;
}

body main[data-theme="Dark"] > nav ul li.active {
  background-color: var(--bs-primary);
  -webkit-box-shadow: 0px 0px 6px 2px var(--bs-primary);
          box-shadow: 0px 0px 6px 2px var(--bs-primary);
}

body main[data-theme="Dark"] > nav ul li:hover {
  background-color: var(--bs-primary);
  -webkit-box-shadow: 0px 0px 6px 2px var(--bs-primary);
          box-shadow: 0px 0px 6px 2px var(--bs-primary);
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

body main[data-theme="Dark"] > nav ul li a i {
  color: var(--bs-primary);
}

body main[data-theme="Dark"] .btn.btn-pink:hover,
body main[data-theme="Dark"] .btn.btn-pink {
  color: var(--bs-dark);
}

body main[data-theme="Dark"] section.content {
  background: var(--bs-dark);
}

body main[data-theme="Dark"] section.content .socials .social-us:hover a {
  color: var(--bs-primary) !important;
}

body main[data-theme="Dark"] section.content .socials .shape:hover,
body main[data-theme="Dark"] section.content .profile-content .social .shape:hover {
  background-color: var(--bs-primary);
  color: #272b30;
}

body main[data-theme="Dark"] section.content .profile-content .social i {
  color: #6c757d;
}

body main[data-theme="Dark"] section.content .profile-content .social a:hover .shape,
body main[data-theme="Dark"] section.content .profile-content .social a:hover i {
  color: #272b30;
  background-color: var(--bs-primary);
}

body main[data-theme="Dark"] section.content .profile-content .social .shape,
body main[data-theme="Dark"] section.content .socials .shape {
  background-color: #272b30;
}

body main[data-theme="Dark"] section.content .profile-content p.text-secondary,
body main[data-theme="Dark"] section.content p.text-secondary {
  color: #6c757d !important;
}

body main[data-theme="Dark"] section.content input#search-c, body main[data-theme="Dark"] section.content input#search-m {
  background-color: #272b30;
}

body main[data-theme="Dark"] section.content input#search-c::-webkit-input-placeholder, body main[data-theme="Dark"] section.content input#search-m::-webkit-input-placeholder {
  color: #505050;
  font-size: small;
}

body main[data-theme="Dark"] section.content input#search-c:-ms-input-placeholder, body main[data-theme="Dark"] section.content input#search-m:-ms-input-placeholder {
  color: #505050;
  font-size: small;
}

body main[data-theme="Dark"] section.content input#search-c::-ms-input-placeholder, body main[data-theme="Dark"] section.content input#search-m::-ms-input-placeholder {
  color: #505050;
  font-size: small;
}

body main[data-theme="Dark"] section.content input#search-c::placeholder, body main[data-theme="Dark"] section.content input#search-m::placeholder {
  color: #505050;
  font-size: small;
}

body main[data-theme="Dark"] section.content .filter a:hover,
body main[data-theme="Dark"] section.content .filter-active {
  background-color: var(--bs-primary);
  color: #272b30 !important;
  font-weight: 500;
}

body main[data-theme="Dark"] section.content .filter a:hover,
body main[data-theme="Dark"] section.content .filter-active {
  border-color: var(--bs-primary);
}

body main[data-theme="Dark"] section.content .progress {
  background-color: #272b30;
}

body main[data-theme="Dark"] section.content .progress-bar {
  color: #272b30;
  background-color: var(--bs-primary);
}

body main[data-theme="Dark"] section.content .p-progress div > div {
  color: var(--bs-primary) !important;
}

body main[data-theme="Dark"] section.content .btn.btn-pink-outline:hover {
  color: var(--bs-dark);
}

body main[data-theme="Dark"] section.content .btn.btn-pink-outline {
  color: #6c757d;
  background-color: #272b30;
  border: none;
}

body main[data-theme="Dark"] section.content .btn.btn-pink-outline:hover {
  color: var(--bs-primary);
  background-color: #1c1f23;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main[data-theme="Dark"] .bg-dark,
body main[data-theme="Dark"] .blog-quote,
body main[data-theme="Dark"] .comment-item {
  background-color: #272b30 !important;
}

body main[data-theme="Dark"] .text-secondary {
  color: #bbbbbb !important;
}

body main[data-theme="Dark"] .card {
  background-color: var(--bs-dark);
}

body main[data-theme="Dark"] .card:hover .card-text {
  color: #c5c5c5;
}

body main[data-theme="Dark"] .card .card-header {
  background-color: #272b30;
}

body main[data-theme="Dark"] .card .card-text {
  color: #bbbbbb;
}

body main[data-theme="Dark"] .page-link {
  color: var(--bs-primary);
  background-color: var(--bs-dark);
}

body main[data-theme="Dark"] .page-link:hover, body main[data-theme="Dark"] .page-link:focus {
  background-color: #272b30;
}

body main[data-theme="Dark"] .btn-dark {
  color: #6c757d;
  background-color: #272b30;
  border: none;
}

body main[data-theme="Dark"] .btn-dark:hover {
  color: var(--bs-primary);
  background-color: #1c1f23;
}

body main[data-theme="Dark"] .btn-check:focus + body main[data-theme="Dark"] .btn-dark,
body main[data-theme="Dark"] .btn-dark:focus {
  color: #c5c5c5;
  background-color: #1c1f23;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main[data-theme="Dark"] .btn-check:checked + body main[data-theme="Dark"].btn-dark,
body main[data-theme="Dark"] .btn-check:active + body main[data-theme="Dark"].btn-dark,
body main[data-theme="Dark"] .btn-dark:active,
body main[data-theme="Dark"] .btn-dark.active,
body main[data-theme="Dark"] .show > body main[data-theme="Dark"] .btn-dark.dropdown-toggle {
  color: #c5c5c5;
  background-color: #1a1e21;
  border-color: #191c1f;
}

body main[data-theme="Dark"] .btn-check:checked + body main[data-theme="Dark"] .btn-dark:focus,
body main[data-theme="Dark"] .btn-check:active + .btn-dark:focus,
body main[data-theme="Dark"] .btn-dark:active:focus,
body main[data-theme="Dark"] .btn-dark.active:focus,
body main[data-theme="Dark"] .show > body main[data-theme="Dark"] .btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main[data-theme="Dark"] .btn-dark:disabled,
body main[data-theme="Dark"] .btn-dark.disabled {
  color: #c5c5c5;
  background-color: var(--bs-blue-dark);
  border-color: var(--bs-blue-dark);
}

body main[data-theme="Dark"] .dropdown-menu-dark {
  color: #dee2e6;
  background-color: var(--bs-dark);
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item:hover, body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item:focus {
  color: #c5c5c5;
  background-color: rgba(255, 255, 255, 0.15);
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item.active, body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item:active {
  color: #c5c5c5;
  text-decoration: none;
  background-color: var(--bs-primary);
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item.disabled, body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.15);
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item .dropdown-item-text {
  color: #dee2e6;
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item .dropdown-header {
  color: #adb5bd;
}

body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item .dropdown-item:hover,
body main[data-theme="Dark"] .dropdown-menu-dark .dropdown-item .dropdown-item:focus {
  color: #c5c5c5;
  background-color: #272b30;
}

body main[data-theme="Dark"] .text-dark {
  color: var(--bs-dark);
}

body main[data-theme="Dark"] .form-control {
  color: var(--bs-primary);
  background-color: #272b30;
}

body main[data-theme="Dark"] .form-control:focus {
  color: var(--bs-primary);
  background-color: #272b30;
}

body main[data-theme="Dark"] .message label {
  color: var(--bs-primary) !important;
}

body main[data-theme="Dark"] .btn-primary {
  color: #272b30;
  font-weight: 500;
  background-color: var(--bs-primary);
}

body main[data-theme="Dark"] .btn-primary:hover {
  color: var(--bs-dark);
  font-weight: 500;
  background-color: var(--bs-primary-hov);
}

body main[data-theme="Dark"] .btn-check:focus + body main[data-theme="Dark"] .btn-primary,
body main[data-theme="Dark"] .btn-primary:focus {
  color: var(--bs-dark);
  background-color: var(--bs-primary-hov);
}

body main[data-theme="Dark"] .text-dark {
  color: var(--bs-blue-dark) !important;
}

body main[data-theme="Dark"] .item .box h6,
body main[data-theme="Dark"] .item > h6,
body main[data-theme="Dark"] .skill > h6 {
  color: #c5c5c5 !important;
}

body main[data-theme="Dark"] .page-item.active .page-link {
  color: #272b30;
}

body main[data-theme="Dark"] .page-item.active .page-link:hover {
  color: var(--bs-primary);
}

body main[data-theme="Dark"] .accordion-button:not(.collapsed) {
  background-color: var(--bs-primary);
  color: var(--bs-dark);
}

body main[data-theme="Dark"] .accordion-button {
  color: #bbbbbb;
}

body main[data-theme="Dark"] .blog-categories ul.category li a:hover,
body main[data-theme="Dark"] .blog-categories ul.category li:hover {
  color: var(--bs-primary) !important;
}

body main[data-theme="Dark"] .blog-recent ul.list-group li.list-group-item,
body main[data-theme="Dark"] .blog-archive ul.list-group li.list-group-item {
  color: #bbbbbb;
}

body main[data-theme="Dark"] .blog-categories ul.category li a,
body main[data-theme="Dark"] .blog-tags ul.tags li a {
  color: #bbbbbb !important;
}

body main[data-theme="Dark"] .btn-nav-comment button.btn.btn-comment.vote-up:hover {
  color: var(--bs-success) !important;
}

body main[data-theme="Dark"] .btn-nav-comment button.btn.btn-comment.vote-down:hover {
  color: var(--bs-danger) !important;
}

body main[data-theme="Dark"] .blog-box,
body main[data-theme="Dark"] .blog-recent,
body main[data-theme="Dark"] .blog-tags,
body main[data-theme="Dark"] .blog-categories,
body main[data-theme="Dark"] .blog-archive,
body main[data-theme="Dark"] .comment-box,
body main[data-theme="Dark"] .comment-form {
  border-radius: 1rem;
  background-color: var(--bs-dark);
}

body main[data-theme="Dark"] .TableOfContent .accordion .accordion-body {
  background-color: #272b30;
}

body main[data-theme="Dark"] .TableOfContent .accordion .accordion-body ul.list-group li {
  background-color: transparent;
  border: none;
  color: #bbbbbb;
}

body main[data-theme="Dark"] .TableOfContent .accordion .accordion-body ul.list-group li:focus {
  color: var(--bs-primary);
}

body main[data-theme="Dark"] .blog-recent ul.list-group li.list-group-item:hover,
body main[data-theme="Dark"] .blog-archive ul.list-group li.list-group-item:hover {
  background-color: var(--bs-primary);
  color: var(--bs-dark);
}

body main[data-theme="Dark"] .nav li.active a.link i,
body main[data-theme="Dark"] .nav a.link:hover i {
  color: #272b30 !important;
}
/*# sourceMappingURL=dark.css.map */